# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Maven output directory
target/

# IntelliJ project files
.idea/
*.iml
*.iws

# OS system files
.DS_Store
Thumbs.db

# Other unnecessary files
*.log
*.tmp


